/* File: Typewriter.css */

.typewriter {
  font-family: monospace;

}

.typewriter .cursor {
  display: inline-block;
  width: 0.10em; /* Slightly wider for better visibility */
  min-width: 2px; /* Ensures the cursor has a visible width */
  height: 3rem; /* Matches font height for visibility */
  background-color: white; /* High contrast with dark background */
  animation: blink-background 1s steps(2, start) infinite;
}

@keyframes blink-background {
  0%, 50% {
    background-color: white;
  }
  50%, 100% {
    background-color: transparent;
  }
}
